@import "../../../general.scss";
.grafico {
  margin: 10px;
  padding: 10px;

  .selectContainer {
    margin-top: 20px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;

    select {
      width: 50%;

      text-align: center;
    }
  }
  .graficLine {
    margin-top: 20px;
    width: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;

    @include mobile {
      overflow-x: scroll;
    }
  }
}
